<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github-mimosa-org" value="https://nuget.pkg.github.com/mimosa-org/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github-mimosa-org>
            <add key="Username" value="%GH_USERNAME%" />
            <add key="ClearTextPassword" value="%GH_TOKEN%" />
        </github-mimosa-org>
    </packageSourceCredentials>
</configuration>